.account-grid {
  position: relative;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 15px;
}

.selected {
  color: darkgreen;
}

.unselected {
  color: grey;
}

.not-possible {
  color: lightgray;
}

.update-changes {
  bottom: -10px;
  width: 90%;
  margin: 20px;
  left: 5%;
}

.account-box {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 310px;
}