/* to delete */

.better {
  position: relative;
  left: 190px;
}

.title {
  position: relative;
  left: 130px;
}

.game {
  position: relative;
  left: 80px;
}

.reference {
  position: relative;
  left: 130px;
  margin-top: 30px;
}

/* HOME */
.cover {
  height: 59vh;
  object-fit: contain;
  display: block;
  /* margin: 20px auto; */
  /* top: 6vh; */

}

.sub-button {
  position: absolute;
  z-index: 100;
  right: -155px;
  top: -85px;
  background-color: white;
}

.unsub-button {
  position: absolute;
  z-index: 100;
  right: -135px;
  top: -85px;
  background-color: white;
}

.background-image3 {
  display: block;
  max-width: 100%;
  height: auto;
  height: 56vh;
  margin: 20px auto;
  position: relative;
  top: 6vh;
  z-index: -100;
}

.background-image-div {
  display: block;
  /* max-width: 1vw; */
  /* height: auto; */
  height: 61vh;
  /* margin: 20px auto; */
  position: relative;
  top: 6vh;
  z-index: -100;
}

.about-listing {
  margin: 20px;
  padding: 10px;
}

.background-image {
  display: block;
  width: auto;
  /* height: auto; */
  height: 56vh;
  object-fit: cover;

  margin: 2.5vh auto;
  position: fixed;
  top: 6vh;
  z-index: -100;
}

.background-shop {
  display: block;
  width: 100%;
  object-fit: cover;
  height: auto;
  height: 56vh;
  margin: 20px auto;
  position: fixed;
  top: 6vh;
  z-index: -100;
}

.fact-icons {
  height: 30px;
}

/* MULTI */
.below-nav {
  /* background-color: aqua; */
  position: fixed;
  top: 57px;
}


.go-home-icon {
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;

}

.premium-badge {
  position: absolute;
  right: 20px;
  top: 65px;
  color: white;
  z-index: 1005;
}

.favourite-badge {
  position: relative;
  right: -280px;
  top: -385px;
  color: white;
  z-index: 5;
  color: red !important;
}

.listing-grid {
  position: relative;
  left: 20px;
  top: 4vh;
}

.info-grid {
  position: relative;
  left: 43px;
  top: 5vh;
}

.left-item {}

.right-item {
  position: relative;
  left: 23px;
}


/* .file-picker {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 1px 3px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
} */

/* MyAccount */
.gradient-div {
  background: -moz-linear-gradient(top, rgba(14, 14, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(14, 14, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(14, 14, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e0e0e', endColorstr='#00ffffff', GradientType=0);

  height: 5vh;
  position: absolute;
  top: 58px;
  z-index: -100;
  width: 100%;
}

.gradient-div-invert {
  background: -moz-linear-gradient(bottom, rgba(14, 14, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(bottom, rgba(14, 14, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to top, rgba(14, 14, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e0e0e', endColorstr='#00ffffff', GradientType=0);


  height: 5vh;
  position: absolute;
  top: 60vh;
  z-index: -100;
  width: 100%;
  transform: scaleX(-1);
}

.welcome-back-header {
  color: white;
  padding: 17px;
  position: fixed;
  top: 27px;
  z-index: 100;
  width: 100%;


}

/* HOME */


.background-image3 {
  display: block;
  max-width: 100%;
  height: auto;
  height: 56vh;
  margin: 20px auto;
  position: relative;
  top: 6vh;
  z-index: -100;
}



.welcome-user {
  color: white;
}

.search-bar {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 10%;
  margin: 20px auto;
  position: relative;
  top: -10px;
  left: 100px;
  margin-right: auto;
}


.plant-seller-tab {
  position: relative;
  /* bottom: ; */
  text-align: center;
  top: 63vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
    /* display: block; */
    /* margin-left: auto;
  margin-right: auto; */
    /* width: 8em; */
}


/* .profile-info-box {
  padding-top: 100px;
  border-top: 100px;
} */

/* .frosted-div {
  background-image: ;
} */
.background-image2 {
  max-height: 640px;
  top: 0px;
  z-index: -1000;
  position: absolute;
  /* width: 100px; */
  /* object-position: left; */

  /* object-fit: cover; */
}

.listing-icons {
  position: relative;
  top: 10vh;
  left: 35vw;
  z-index: 100;
}

.carousel-paper {
  height: 350px;
  /* width: 80%; */
  /* padding-left: 20px;
  padding-right: 20px; */
  margin: 10px;


  /* justify-content: center; */
  /* vertical-align: middle; */
}

/* body {
  background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3) no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.login-container {
  position: absolute;
  top: 20vh;
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);

  backdrop-filter: blur(5px);
}

/* PROFILE */

.profile-tab {
  /* position: -webkit-sticky; */
  /* position: sticky; */
  top: 10vh;
}

.profile-owner {
  position: relative;
  top: 7%;
}

.my-tab {
  color: black !important;
  position: relative;
  top: 10vh;
  /* background-color: darkgreen !important; */

}