.background-image {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90%;
  margin: 20px auto;
  position: fixed;
  top: 6vh;
  z-index: -100;
}

.welcome-user {
  color: white;
}

.search-bar {
  /* display: block; */
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 10%;
  margin: 20px auto;
  position: relative;
  /* top: 360px; */
  top: -67px;

  left: 95px;
  margin-right: auto;
  /* width: 100%; */
  /* text-align: center; */
}

/* .swiper-div {
  border: 5px;
  border-color: black;
  position: fixed;
  z-index: 1000;

} */

.plant-seller-tab {
  position: fixed;
  bottom: 200px;
  text-align: center;
  top: 62%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
    /* display: block; */
    /* margin-left: auto;
  margin-right: auto; */
    /* width: 8em; */
}


/* .profile-info-box {
  padding-top: 100px;
  border-top: 100px;
} */

/* .frosted-div {
  background-image: ;
} */
.background-image2 {
  max-height: 640px;
  top: 0px;
  z-index: -1000;
  position: absolute;
  /* width: 100px; */
  /* object-position: left; */

  /* object-fit: cover; */
}