/* HOME */

.background-image {
  display: block;
  width: auto;
  height: auto;
  height: 56vh;
  margin: 20px auto;
  position: fixed;
  top: 6vh;
  z-index: -100;
}

.background-shop {
  display: block;
  width: 100%;
  object-fit: cover;
  height: auto;
  height: 56vh;
  margin: 20px auto;
  position: fixed;
  top: 6vh;
  z-index: -100;
}

/* MULTI */
.below-nav {
  /* background-color: aqua; */
  position: fixed;
  top: 57px;
}

.my-tab {
  color: black !important;
  /* background-color: darkgreen !important; */
  ;
}

.go-home-icon {
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;

}

.premium-badge {
  position: absolute;
  right: 20px;
  top: 65px;
  color: white;
  z-index: 5;
}

/* .file-picker {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 1px 3px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
} */

/* MyAccount */
.gradient-div {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0e0e0e+0,ffffff+100&1+0,0+100 */
  background: -moz-linear-gradient(top, rgba(14, 14, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(14, 14, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(14, 14, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e0e0e', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */


  height: 50px;
  position: absolute;
  top: 58px;
  z-index: -100;
  width: 100%;

  /* height: 50px;
  position: fixed;
  top: 57px;
  z-index: 100;
  width: 100%; */
}

.welcome-back-header {
  color: white;
  padding: 17px;
  position: fixed;
  top: 27px;
  z-index: 100;
  width: 100%;


}

/* HOME */


.background-image3 {
  display: block;
  max-width: 100%;
  height: auto;
  height: 56vh;
  margin: 20px auto;
  position: relative;
  top: 6vh;
  z-index: -100;
}



.welcome-user {
  color: white;
}

.search-bar {
  /* display: block; */
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 10%;
  margin: 20px auto;
  position: relative;

  top: -10px;

  /* for above tabs */
  /* top: 297px; */

  left: 100px;
  margin-right: auto;
  /* width: 100%; */
  /* text-align: center; */
}

/* .swiper-div {
  border: 5px;
  border-color: black;
  position: fixed;
  z-index: 1000;

} */

.plant-seller-tab {
  position: fixed;
  bottom: 200px;
  text-align: center;
  top: 62%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
    /* display: block; */
    /* margin-left: auto;
  margin-right: auto; */
    /* width: 8em; */
}


/* .profile-info-box {
  padding-top: 100px;
  border-top: 100px;
} */

/* .frosted-div {
  background-image: ;
} */
.background-image2 {
  max-height: 640px;
  top: 0px;
  z-index: -1000;
  position: absolute;
  /* width: 100px; */
  /* object-position: left; */

  /* object-fit: cover; */
}

/* body {
  background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3) no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.login-container {
  position: absolute;
  top: 20vh;
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);

  backdrop-filter: blur(5px);
}

/* .profile-tab {
  position: -webkit-sticky;
  position: sticky;
  top: 100;
} */