.card-pic {
  z-index: 0;
}

.add-plant-button {
  width: 90%;
  margin-top: 1vh;
  margin-left: 4vw;
  /* margin: 2vw; */
  /* padding-right: 100px; */

}

.plant-count-heading {
  color: rgb(25, 25, 25);
  margin-left: 6vw;

}