.about-us-avatar {
  width: 100%;
}

.about-us {
  width: 300px;
  padding-top: 15px;
  padding-left: 30px;
}

.update-button {
  /* padding-left: 15px; */
  position: fixed;
  bottom: -60px;
  left: 20px;
  width: 100px;
}

.edit-button {
  width: 80%;
  margin: 20px;
  left: 10%;

}


/* .profile-headings {
  position: absolute;
} */