.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}


.mySwiper {
  width: 98%;
  height: 30vh;
  position: relative;
  top: 60vh;
  right: 1%;
}

.mySlide {
  /* width: 130%; */
  /* height: 19vh; */
  object-fit: cover;
  position: fixed;
  top: 50vh;
}

.filter-bar {
  position: absolute;
  top: 100px;
  /* height: 100px; */
  /* left: 1px; */
}

.search-icon {
  color: black;
  position: absolute;
  top: -4vh;
  right: 5px;
}