.star-div {
  padding-left: 35px;
}

.submit-review {
  position: absolute;
  bottom: 20px;
  right: -180px;
}

.star-div-comments-for {
  position: relative;
  left: 40px;
  bottom: 10px;
}

.review-box {
  margin-top: 30px;
  /* padding-bottom: 30px; */
}

.delete-icon {
  position: absolute;
  left: 300px;
}

/* went mad from this settings where previously was fine */
/* .submit-review {
  position: absolute;
  bottom: -290px;
  right: 60px;
} */