/* menu-icon {
  position: fixed;
  right: 50px;
} */

.plant-logo {
  height: 45px;
  border-radius: 50%;
  zoom: 150%;
  /* position: relative; */
  object-fit: cover;
  object-position: center;
  background-size: cover;
  position: fixed;
  top: -3px;
  left: 5px;
  z-index: 10;
}

/* WANNTED TO MAKE LOGO RIM BUT DOES NOT WORK FOR SOME REASON */
.logo-rim {
  z-index: 119;
  height: 50px;
  width: 55px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  border-radius: 50%;
  top: 5px;
  left: 15px;
}

/* .plant-logo-box {
  position: absolute;
  height: 2000px;
  color: blueviolet;
  background-color: aquamarine;
  z-index: 1000;
  top: 100px;
} */

.hamburger-menu {
  position: relative;
  right: 1000px !important;
  color: blue;
}



/* .nav-box {
  position: sticky;
} */