/* menu-icon {
  position: fixed;
  right: 50px;
} */


/* ORIGINAL */
/* .plant-logo {
  height: 45px;
  border-radius: 50%;
  zoom: 150%;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  position: fixed;
  top: -3px;
  left: 5px;
  z-index: 1000;
} */

.plant-logo {
  height: 28px;
  border-radius: 50%;
  zoom: 150%;
  /* position: relative; */
  object-fit: cover;
  object-position: center;
  background-size: cover;
  position: fixed;
  top: 5px;
  left: 15px;
  z-index: 1000;
  transform: rotate(175deg);
}

.white-square {
  height: 45px;
  border-radius: 50%;
  position: absolute;
  top: 6.2px;
  left: 21px;
}

/* CIRCULAR-PURPLE */
.clip-me {
  position: absolute;
  clip-path: circle(36%);
  height: 40px;
  zoom: 150%;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  top: -1px;
  left: 9px;
  z-index: 1000;
}

/* .clip-me {
  position: absolute;
  clip-path: circle(36% at 0 30px);
  height: 40px;
  zoom: 150%;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  top: 0px;
  left: 5px;
  z-index: 1000;
} */

/* WANNTED TO MAKE LOGO RIM BUT DOES NOT WORK FOR SOME REASON */
.navbar-rim {
  z-index: 119;
  height: 60px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  left: 0px;
}

/* .plant-logo-box {
  position: absolute;
  height: 2000px;
  color: blueviolet;
  background-color: aquamarine;
  z-index: 1000;
  top: 100px;
} */

.hamburger-menu {
  position: absolute !important;
  right: 1000px !important;
  color: blue;
}

.menu-icon {
  position: absolute;
  top: 2.3vh;
  left: 85vw;
}